
version: '3.8'

services:
  db:
    image: mariadb:10.6
    container_name: mariadb_shopping
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: shopping_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    container_name: backend_shopping
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "mysql+pymysql://user:password@db/shopping_db"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_shopping
    restart: unless-stopped
    ports:
      - "3002:80"
    depends_on:
      - backend

volumes:
  db_data:
