.image-uploader {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    overflow: hidden;
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-placeholder {
    font-size: 10px;
    color: #888;
    text-align: center;
}
