/* Estilos para el checkbox de estado */
.status-checkbox .form-check-input {
    width: 2.5em;
    height: 1.5em;
    margin-top: 0;
    cursor: pointer;
    appearance: none;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 1.5em;
    position: relative;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.status-checkbox .form-check-input::before {
    content: '';
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    top: 50%;
    left: 0.2em;
    transform: translateY(-50%);
    background-color: #6c757d;
    /* Color para pendiente */
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.status-checkbox .form-check-input:checked {
    background-color: #28a745;
    /* Verde para comprado */
    border-color: #28a745;
}

.status-checkbox .form-check-input:checked::before {
    transform: translate(0.5em, -50%);
    background-color: #fff;
}

.list-group-item.is-comprado {
    background-color: #e9f5ec;
    /* Un fondo verde muy claro */
    opacity: 0.8;
}

.list-group-item.is-comprado .item-info {
    text-decoration: line-through;
}